/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
  //npx stylelint "**//*.css
*/

/* Begin site styles below */

html {
  background: #BFD8D2;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 24px;
}

h2 {
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

h4 {
  font-weight: lighter;
}

footer {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

aside {
  border: thick double #DF744A;
  float: right;
  padding-left: 20px;
  margin-left: 20px;
  width: 50%;
}

#header {
  align-items: center;
  align-content: space-around;
  text-align: center;
}
